<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">

    <insert id="insertBatch">
        insert into order_detail(name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount) 
        values 
        <foreach collection="orderDetails" separator="," item="item">
            (#{item.name}, #{item.image},#{item.orderId},#{item.dishId},#{item.setmealId},
             #{item.dishFlavor},#{item.number},#{item.amount})
        </foreach>
    </insert>

    <select id="queryDishesByOrderIds" resultType="com.sky.entity.OrderDetail">
        select * from order_detail where dish_id is not null
        <if test="orderIds != null and orderIds.size() > 0">
            and order_id in
            <foreach collection="orderIds" item="orderId" separator="," open="(" close=")">
                #{orderId}
            </foreach>
        </if>

    </select>
</mapper>
