<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">

    <select id="sumByMap" resultType="java.lang.Double">
        select sum(amount) from orders
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="beginTime != null and endTime != null">
                and order_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="countOrderByDateAndStatus" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="status != null">
                status = #{status}
            </if>
            <if test="begin != null">
                and order_time &gt; #{begin}
            </if>
            <if test="end != null">
                and order_time &lt; #{end}
            </if>
        </where>
    </select>

    <select id="top10" resultType="com.sky.dto.GoodsSalesDTO">
        select od.name, sum(od.number) as number from order_detail od join orders o on od.order_id = o.id
        <where>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="begin != null">
                and o.order_time &gt;= #{begin}
            </if>
            <if test="end != null">
                and o.order_time &lt;= #{end}
            </if>
        </where>
        group by od.name
        order by number desc
    </select>


    <select id="countUserByDate" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
    </select>
</mapper>
